.jumbotron {
  color: black;
  font-weight: 700;
  padding-top: 3rem;
  padding-bottom: 3rem;
  margin-bottom: 0;
  background-color: linen;
 
  
 
}
@media (min-width: 768px) {
  .jumbotron {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron h1 {
  font-weight: 600;
}

.jumbotron .container {
  max-width: 120rem;
  max-height: 70rem;
  color: black;
  font-weight: 300;
  padding-top: 15rem;
  padding-bottom: 15rem; 
  background-image: url( "assets/resize2-unsplash.jpg");
 
}
.lead{
  color: black;
  font-weight: 300; 
}
.container{
  text-align: center;
  padding: 3rem;
  background-color: linen;
  border: 5px solid  slategray;
  background-image: url("https://www.transparenttextures.com/patterns/dark-leather.png");
}
.container_foot{
  text-align: center;
  padding-top: 3rem;
  padding-bottom: 3rem;
  background-color: linen;
  border: 5px solid  slategray;
  background-image: url("https://www.transparenttextures.com/patterns/dark-leather.png");
}

.contact_form {
  /*padding-top: 3rem; */ 
  padding: 3rem;
  background-color:linen;
  border: 20px solid  white;
}  

.copyright{
  text-align: center;
}

#about {
  width: 750px;
  background-color: whitesmoke;
  margin-top: 10;
  padding: 3rem;
}
#mymug {
  width: 300px;
  margin-right: 50;
  padding: 2rem;
  border-radius: 50 50 50 50;

}
#computer {
  width: 400px;
  position: relative;
  right: 10px;
  top:  20px;
  border: 3px solid #73AD21;
}
   

body {
 
  background-color:whitesmoke; 
/* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}



footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

footer p {
  margin-bottom: .25rem;
}
